*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    a{
        text-decoration: none;
    }
}

nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #F4A259;
    padding: 2% 2% 0% 2%;
    ul{
        display: flex;
        justify-content: space-between;
    }
}
.flex{
    display: flex;
}
.navList{
    margin-top: 20px;
    button{
        width: 120px;
        height: 50px;
        transition: 0.3s;
        border: none;
        border-radius: 10px 10px 0px 0px;
        cursor: pointer;
    }
    button.active{
        background-color: aqua;
    }
}
@keyframes toBottom {
    to{
        transform: translateY(-200%);
    }
    from{
        transform: translateY(0%);

    }
}
.modal{
    position: absolute;
    background: rgba($color: #000000, $alpha: 0.7);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    .modal-card{
        background-color: white;
        margin: auto;
        border-radius: 5px;
        .modal-header{
            padding: 1rem;
            font-size: 2rem;
            border-radius: 5px 5px 0px 0px;
            background-color: blue;
        }
        .modal-body{
            padding: 1rem;
            form{
                width: 100%;
                flex-direction: column;
                div{
                    flex-direction: column;
                    margin-bottom: 1rem;
                }
                button{
                    background-color: blueviolet;
                    border: none;
                    height: 3rem;
                    color: whitesmoke;
                }
            }
        }
        .modal-footer{
            padding: 1rem;
        }
    }
   

}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    padding: 1rem;
    a{
        font-size: 1.4rem;
        transition: 0.4s;
        color: blue;
        &:hover{
            color: #F4A259;
        }
    }

}
#buildMachine{
    .listarPecas{
        width: 300px;
        grid-area: listPecas;
        flex-direction: column;
        #listPecas{
            height: 70vh;
            padding: 5%;
            border: 2px solid #000000;
            overflow: auto;
            
        }
    }
    .pecasMontagem{
        grid-area: montagem;
        gap: 10px;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        .peca{
            width: 350px;
            background-color: aquamarine;
            .dropzone{
                background-color: #000000;
                height: 300px;
                transition: 0.4s;
                &.highlight{
                    background-color: green;
                }
                img{
                    width: 100%;
                }
            }
        }
    }
} 
.produto{
    cursor: pointer;
    width: 100%;
    border: 2px solid blueviolet;
    img{
        width: 100%;
    }
}
.grid{
    display: grid;
    grid-template-areas: 
    'listPecas montagem montagem'
    ;
    gap: 30px;
}
